<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Unseen: Steganography On Animated GIFs</title>
  </head>
  <%- include('../header.ejs') %>

  <body oncontextmenu="return false">
    <form
      action="/process"
      id="applicationform"
      method="post"
      class="form-container"
    >
      <fieldset class="form-field form-info">
        <legend class="form-info">Steganography</legend>
        <div class="input-container">
          <fieldset class="input-field input-info">
            <legend class="input-info">Operation</legend>
            <div class="radio-value">
              <input
                type="radio"
                id="encode"
                name="operation"
                value="0"
                checked
              />
              <label id="labelForEncode" for="encode">Encode</label>
              <input type="radio" id="decode" name="operation" value="1" />
              <label id="labelForDecode" for="decode">Decode</label>
            </div>
            <div
              class="form-error"
              id="operationError"
              style="width: inherit; text-align: center"
            ></div>
          </fieldset>

          <fieldset class="input-field input-info">
            <legend class="input-info">Animated GIF File</legend>
            <div class="form-inputs">
              <input type="file" id="gifFile" name="gifFile" />
            </div>
            <div class="form-error" id="gifFileError"></div>
          </fieldset>

          <fieldset class="input-field input-info">
            <legend class="input-info">Secret Key</legend>
            <div class="form-inputs">
              <textarea id="key" name="key"></textarea>
            </div>
            <div class="form-error" id="keyError"></div>
          </fieldset>

          <fieldset class="input-field input-info" id="secretMessageField">
            <legend class="input-info">Secret Message</legend>
            <div class="form-inputs">
              <textarea id="secretmessage" name="secretmessage"></textarea>
            </div>
            <div class="form-error" id="secretmessageError"></div>
          </fieldset>
        </div>
      </fieldset>
      <button type="submit" class="submit-button">START</button>
    </form>
    <script src="/js/application.js"></script>
  </body>
  <%- include('../footer.ejs') %>
</html>
