<footer>
  <div class="title footer-title">Unseen: Steganography on Animated GIF.</div>
  <div class="footer-info">
    Designed & Developed By ©
    <a href="https://github.com/AayushRajthala99" class="title"
      >Aayush Rajthala</a
    >-<a href="https://github.com/elzu1111" class="title">Elzina Dhimal</a>-<a
      href="https://github.com/monika427"
      class="title"
      >Monika Chapagain</a
    >
  </div>
  <div class="theme-container">
    <button id="toggle-theme"></button>
    <script src="/js/buttonhandling.js"></script>
  </div>
</footer>
