<header>
  <div class="logo">
    <a href="/">
      <img
        src="/img/unseenLogo.png"
        alt="Unseen: Steganography on Animated GIFs"
      />
    </a>
  </div>
  <div>
    <p class="title header-title">Unseen: Steganography on Animated GIFs</p>
  </div>
</header>
